@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte0);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte1);
    padding-top: 50px;
    padding-bottom: 20px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

header > p > a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

section {
    font-family: var(--fonte2);
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset 0px 1px 30px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem#b1 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
}

section.imagem#b2 {
    background-image: url(imagens/background002.jpg);
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}

section > p {
    padding-bottom: 1em;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}