@charset "UTF-8"; 
/*Isso é uma regra, toda regra começa com @, ela só afirma colocando as letras da UTF-8*/

body {
    background-color: khaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
     color: darkblue;
}

h2 {
    color: darkred;
}

p {
     text-align: justify;
}