@charset "UTF-8";

/*O principal altera todas as tags que contém as tags de conteúdos*/

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root { /*Isto é variáveis, criadas para facilitar a vida e organizar e se quiser colocar outras cores, só mudar aqui*/
    --cor0: #c5ebd6; 
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Idroid', sans-serif;
}

/*Configs Globais*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(#2fa866,#1a5c37);
    height: 100%;
    width: 100%;
}

main {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}

article {
    margin: auto;
}

