@charset "UTF-8";

/*
em HTML é id    = em CSS é # (Pode só 1 elemento)
em HTML é class = em CSS é . (Pode vários elementos)
*/

body {
    background-color: rgb(182, 182, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(67, 67, 228);
}

h1#principal { /*Isso é um ID... Geralmente, quando se usa id, colocamos a classe em que utilizamos, mas com classes não se utiliza, mas se quiser organizar de um jeito diferente, você pode*/
    text-align: center;
    color: blue;
}

.basico { /*Isso é uma classe*/
    color: rgb(41, 41, 121);
}

.intermediario {
    color: rgb(50, 121, 41);
}

.avancado {
    color: rgb(121, 89, 41);
}

.destaque {
    background-color: rgb(214, 221, 221);
    font-weight: bold;
}

.explicando {
    background-color: aliceblue;
    color: red;
    font-weight: bold;
}

.explicandotxt {
    font-family:Arial, Helvetica, sans-serif;
}